body{
   
    font-family: Lato;
}
header{
    display: flex;
    text-align: left;
     justify-content: center;
     align-items: center;
     background: rgba(229, 84, 115, 0.1);
     height:44vw;
     gap:5%;
    
}
header .text{
    width:37vw;
}
header img{
    width:33vw;
    height:90%;
   margin-top:2.6vw;
}
header h1{
    width:37vw;
    font-size: 4.2vw;
    font-weight:800;
}
header p{
    width:33vw;
    font-size: 1vw;
    font-weight:400;
    color: rgba(39, 39, 39, 0.6);
}
header button{
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    font-weight:700;
  
  width: 9.2vw;
height: 3.4vw;

   border-radius: 8px;
border:none;
background: rgb(229, 84, 115);

}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:9.3vw;
}
.section1 h1{
    width:20vw;
height: 2.5vw;
color: rgb(39, 39, 39);
font-size: 2vw;
font-weight: 800;
}
.section1 p{
    width:31vw;
    height:3.2vw;
    color: rgb(39, 39, 39);
    font-size: 0.94vw;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
   
   width:75vw;
    height: auto;
    align-items: center;
    justify-content: center;
    gap:max(2%,20px);
}
.section22{
    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:max(6%,20px);
    text-align: center;
    width:100vw;
}
figcaption{
    margin-top:max(10%,10px);
    text-decoration: underline;
    font-size: 1.2vw;
    text-align: center;
    width:23vw;
    font-weight: 700;
    
}
.img1h,.img2h,.img3h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}


.img1>img{
    width:max(17vw,125px);
   height:max(auto,190px);
}
.img1
{
    border-radius: 300px 300px 0px 0px;
   padding-left:max(3.6vw,30px);
   padding-right:max(3.6vw,30px);
   padding-top:max(6vw,70px);
   
    background: rgba(167, 33, 98, 0.15);
}
.img2>img{
    width:max(19.3vw,150px);
    height:max(auto,190px);
}
.img2{
    border-radius: 300px 300px 0px 0px;
   padding-left:max(2.4vw,20px);
   padding-right:max(2.4vw,20px);
   padding-top:max(6.5vw,50px);
   padding-bottom:max(4.5vw,37px);
  
   
   background: rgba(5, 151, 160, 0.15);
}
.img3>img{
  width: max(16.4vw,130px);
  height:max(auto,190px);
}
.img3{
    border-radius: 300px 300px 0px 0px;
   padding-left:max(3.8vw,30px);
   padding-right:max(3.8vw,30px);
   padding-top:max(5.8vw,45px);
   
  
   
   background: rgba(71, 125, 17, 0.15);
}

.section3>div{
    max-width: 1450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content:space-evenly;
    
    margin:0 auto;
    margin-top:128px;
    border-radius: 8px;

background: rgba(39, 39, 39, 0.05);
}
.card{
    padding-top:86px;
    padding-bottom:86px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section3 p{
    color: rgba(39, 39, 39, 0.8);
font-size: 1.5rem;
font-weight: 600;

text-align: center;
}
.section4{
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
  
background: rgba(229, 84, 115, 0.05);
margin-top: 128px;
padding-top:100px;
padding-bottom:100px;

}
.sec41{
    max-width: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.sec41 h1{
   font-size: 2.5rem;
font-weight: 800;
margin-bottom: 0px;
}
.sec41 p{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 24px;
    margin-bottom: 32px;
}
.sec41 button{
    color:white;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 8px;
margin-top: 0px;
background: rgb(229, 84, 115);
padding: 20px 43px 20px 43px;
border: none;
}
.section5 h1{
    font-size: 2.5rem;
font-weight: 800;
}
.section5 p{
    color: rgba(39, 39, 39, 0.6);

font-size: 1.1rem;
font-weight: 400;
}
.section5 div{
    max-width: 594px;
}
.section5{
    display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top:128px;
}
.section6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.section6 img{
    width: 100%;
}
.sec61{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1440px;
    gap:24px;
}
.section7{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:128px;
  text-align: center;
  
  
}
.section721{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 75vw;
   background:url("Flower Asset/Rectangle 9.png");
   background: cover;
   background-repeat: no-repeat;
}
.sec71{
   
 
    max-width:866px;
 
    padding-top:122px;
    padding-bottom:122px;
    background-repeat: no-repeat;

}
.sec72{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    
}
.section7 h1{
    font-size: 2.5rem;
font-weight: 800;
margin-bottom:16px;
margin-top:0px;
}
.section7 button{
    border-radius: 8px;

background: rgb(229, 84, 115);
color: rgb(255, 255, 255);

font-size: 1.25rem;
font-weight: 700;
border:none;
padding:18.29px 31px 18.29px 31px;
}
.section7 p{
    font-size: 1.1rem;
font-weight: 400;
color: rgba(39, 39, 39, 0.6);

}
.section7 input{
    border-radius: 8px;
   max-width:700px;
   width:36.5vw;
    height: 64px;
background: rgb(255, 255, 255);
border: none;
padding-left:22px;


}
.section8{
    background: rgb(17, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:128px;
padding-bottom:128px;
margin-top: 128px;
}
.section8 subscript{
    color: rgba(255, 255, 255, 0.4);
font-size: 1rem;
font-weight: 400;

}
.section8 p{
    color: rgba(255, 255, 255, 0.9);
font-size: 1.1rem;
font-weight: 400;
max-width: 625px;
margin-bottom: 32px;


}
.section8 h1{
  color:white;
font-size: 3rem;
font-weight: 800;
margin-bottom: 24px;
}
@media screen and (max-width:576px) {
    header{
       
        flex-direction: column;
       height: auto;
        width:100vw;
    }
    .section721{
        width:100vw;
    }
    header img{
       height:50vw;
        width:100%;
       
    }
    .sec72{
        display: flex;
        flex-direction: column;
    }
    header .text{
        
        width:100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    header h1{
        width:65vw;
        font-size:6vw;
    }
    header p{
        width:80vw;
        font-size:2.8vw;
    }
    header button{
        width:19vw;
        height:9vw;
        font-size:3vw;
        
    }
    .section1{
        width:100vw;
        height: auto;
    }
    .section7 input{
        with:90vw;
    }
    
    .section1 h1{
        width:auto;
    height: auto;
    color: rgb(39, 39, 39);
    font-size: 4vw;
    font-weight: 800;
    }
    .section1 p{
        width:80vw;
        height:3.2vw;
        color: rgb(39, 39, 39);
        font-size: 0.94vw;
        font-weight: 400;
        color: rgba(39, 39, 39, 0.6);
        font-size: 2.8vw;
    }
  .section2{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   
   
  }
  figcaption{
    font-size:2.9vw;
  }
 .sec61{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:10px;
 }
  .section3>div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
  
  }
  .section7 input{
    width:85vw;
  }
  .section4{
    flex-direction: column;
    gap:100px;
  }
    
}
@media screen and (min-width:576px) and (max-width:1000px) {
    header{
       
        flex-direction: column;
        height:100vw;
        width:100vw;
    }
    .section7 input{
        width:85vw;
    }
    header img{
       height:50vw;
        width:100%;
       
    }
    .section721{
        width:100vw;
    }
    .sec72{
        display: flex;
        flex-direction: column;
    }
    .sec61{
        display: grid;
        grid-template-columns: repeat(2,2fr);
       
     }
    header .text{
        
        width:100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    header p{
        width:80vw;
    }
    header button{
        width:140px;
        height:50px;
        font-size:16px;
        
    }
    header p{
       
        font-size:2.1vw;
        
    }
    .section1{
        width:100vw;
        height: auto;
    }
    
    .section1 h1{
        width:auto;
    height: auto;
    color: rgb(39, 39, 39);
    font-size: 3.2vw;
    font-weight: 800;
    }
    .section1 p{
        width:80vw;
        height:3.3vw;
        color: rgb(39, 39, 39);
        font-size: 0.94vw;
        font-weight: 400;
        color: rgba(39, 39, 39, 0.6);
        font-size: 2.1vw;
    }
    figcaption{
        font-size:2.2vw;
    }
    .section7 input{
        width: 90vw;
    }

    
}